<div class="banner">
    <h1 class="title-h1">TrainMe</h1>
    <h2 class="title-h2">Buy and Sell Workout Programs</h2>
</div>
<div class="form-group">
   <%= form_tag(listings_path, :method => "get", id: "search-form") do %>
     <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Programs" %>
   <% end %>

   <% if @listing.present? %>

   <div class="bg">
       <div class="container">
           <div class="container-products">
               <h2>Featured Programs</h2>
               <div class="row">
                 <% @listings.each do |listing| %>
                   <div class="col-lg-4 col-md-6 col-sm-6 portfolio-item">
                       <div class="thumbnail">
                           <%= link_to image_tag(listing.image.url), listing %>
                           <div class="caption">
                               <h4><%= listing.name %></h4>
                               <p><%= "Sold by #{listing.user.first_name}" %></p>
                               <p class="price"><%= number_to_currency(listing.price) %></p>
                           </div>
                       </div>
                   </div>
                   <% end %>
               </div>

               <br>

           </div>
       </div>
   </div>

<% else %>
   <p>There are no posts containing the term(s)
       <%= params[:search] %>.</p>
   <% end %>
</div>
