<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= @listing.name %></h3>
        <p><%= @listing.description %></p>
        <p><%= number_to_currency(@listing.price) %></p>
        <%= link_to "Buy It Now", new_listing_order_path(@listing), class: "btn btn-primary", data: { no_turbolink: true } %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
    <%= form_tag create_comment_path, method: "post" do %>
      <%= hidden_field_tag "id", @listing.id %>
      <%= text_area_tag :comment %>
      <%= submit_tag "Submit" %>
    <% end %>
    <div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
<% @comments.each do |comment| %>
  <%= comment.comment %> <br>
    <%= comment.user.first_name %> <br>
      <br><hr>
  <% end %>
</div>
</div>

<% if current_user == @listing.user %>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
</div>
</div>

<%= link_to 'Back', listings_path %>
</div>
