<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= @listing.name %></h3>
        <p><%= number_to_currency(@listing.price) %></p>
        <p><%= @listing.description %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
